<div class="word">
  <div class="text">{{ word }}</div>
  <button
        mat-raised-button
        color="warn"
        (click)="played.emit({word: word, guessed: true})"
        [class.active]="guessed === true"
        [class.hidden]="hideButtons"
  >
    Guessed! {{ guessedWordsCount }}
  </button>

  <button
          mat-raised-button
          color="primary"
          (click)="played.emit({word: word, guessed: false})"
          [class.active]="guessed === false"
          [class.hidden]="hideButtons"
  >
    Skip...{{ skippedWordsCount }}
  </button>
</div>
