
<h2>Welcome to Alias Game</h2><br>

<div>
  <img src="/assets/alias.png" alt="logo">
</div>
<mat-expansion-panel>
  <mat-expansion-panel-header>
    Game Rules
  </mat-expansion-panel-header>

  <p>Alias is a board game, where the objective of the players is to explain words to each other. Hence, Alias is similar to Taboo, but the only forbidden word in the explanations is the word to be explained. The game is played in teams of varying size, and fits well as a party game for larger crowds. The game is very competitive.
    Alias has been developed in Finland and is produced by Nelostuote Oy under the brand name Tactic. The game has been on the market since the early 1990s and is one of the most popular party games in Finland. Along the years, many different versions of the board game have appeared: As well as the New Alias, the Alias family currently also includes the Junior Alias for children, the Alias travel game, and as the newest introduction, DVD Alias.</p>

</mat-expansion-panel>
<div class="link-wrap">
  <a mat-raised-button
     color="primary"
     routerLink="/game"
  >
    Let's start!
  </a>
</div>
